<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#DeleteEscapeRoomModal">
    Usuń
</button>

<!-- Modal -->
<div class="modal fade" id="DeleteEscapeRoomModal" tabindex="-1" aria-labelledby="DeleteEscapeRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteEscapeRoomModalLabel">Usuwanie @Model.Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy jesteś pewny?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <a class="btn btn-outline-secondary" asp-controller="EscapeRoom" asp-action="Delete" asp-route-encodedName="@Model.EncodedName">Usuń</a>
            </div>
        </div>
    </div>
</div>
